<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.diabetrics.midiabetrics"
    versionCode="2"
    version   = "0.5.1">

  <!-- versionCode is optional and Android only -->

  <name>MiDiabetrics</name>

  <description>
    Aplicación de autocontrol de la diabetes.
  </description>

  <author href="https://diabetrics.co" email="diabetrics@procaps.com.co">
    Diabetrics
  </author>

<gap:platform name="ios" />
<gap:platform name="android" />
<preference name="fullscreen" value="true" />
<preference name="splash-screen-duration" value="1000"/>
<access origin="*" />
<preference name="android-minSdkVersion" value="11" />
</widget>